# Assignment 4
## Data set : Motor_Vehicle_Collision 
<hr style="border:1px solid black">

### Import Libraries :

In [1]:
import pandas as pd
import numpy as np

### Load the Dataset :

In [2]:
df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv', dtype={2: object}, low_memory=False)

In [3]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

## DataFrame Summary Before Data Cleaning

### Explore the Data :
#### DataFrame structure and data types before data cleaning

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033266 entries, 0 to 2033265
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 449.9+ MB
None

## Data Transformation:
###  Date handling

In [5]:
df['CRASH DATE'].head(1)

0    09/11/2021
Name: CRASH DATE, dtype: object

In [6]:
df['CRASH DATE'] = pd.to_datetime(df['CRASH DATE'])

In [7]:
df['CRASH DATE'].head(1)

0   2021-09-11
Name: CRASH DATE, dtype: datetime64[ns]

### remove redundant columns

In [8]:
### Dropping : Latitude, Longitude, Location, On street name, Cross street name, Off street name, Collision_id

In [9]:
df = df.drop(['LATITUDE','LONGITUDE','LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME','COLLISION_ID'], axis=1)

## Column list after drop

In [10]:
column_list = df.columns.to_frame(index=False)
column_list.rename(columns={0: 'Column'}, inplace=True)

# Left-align the column names
column_list['Column'] = column_list['Column'].apply(lambda x: x.ljust(30))

print(column_list)

                            Column
0   CRASH DATE
1   CRASH TIME
2   BOROUGH
3   ZIP CODE
4   NUMBER OF PERSONS INJURED
5   NUMBER OF PERSONS KILLED
6   NUMBER OF PEDESTRIANS INJURED
7   NUMBER OF PEDESTRIANS KILLED
8   NUMBER OF CYCLIST INJURED
9   NUMBER OF CYCLIST KILLED
10  NUMBER OF MOTORIST INJURED
11  NUMBER OF MOTORIST KILLED
12  CONTRIBUTING FACTOR VEHICLE 1
13  CONTRIBUTING FACTOR VEHICLE 2
14  CONTRIBUTING FACTOR VEHICLE 3
15  CONTRIBUTING FACTOR VEHICLE 4
16  CONTRIBUTING FACTOR VEHICLE 5
17  VEHICLE TYPE CODE 1
18  VEHICLE TYPE CODE 2
19  VEHICLE TYPE CODE 3
20  VEHICLE TYPE CODE 4
21  VEHICLE TYPE CODE 5

## Missing Value Analysis: 
### Counting Missing Values

In [11]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           632543
ZIP CODE                          632784
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6441
CONTRIBUTING FACTOR VEHICLE 2     311291
CONTRIBUTING FACTOR VEHICLE 3    1888793
CONTRIBUTING FACTOR VEHICLE 4    2000813
CONTRIBUTING FACTOR VEHICLE 5    2024485
VEHICLE TYPE CODE 1                12905
VEHICLE TYPE CODE 2               381860
VEHICLE TYPE CODE 3              1893886
VEHICLE TYPE CODE 4              2001901
VEHICLE TYPE CODE 5              2024752
dtype: int64

### Handling Missing Values

## DROP 
### Zip code

In [12]:
# Remove rows with missing values in the 'ZIP CODE' column
df.dropna(subset=["ZIP CODE"], inplace=True)

# Reset the DataFrame's index
df.reset_index(drop=True, inplace=True)

In [13]:
missing_values = df.isnull().sum()
print(missing_values['ZIP CODE'])

0

## REPLACING

### CHeck missung values

In [14]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED             11
NUMBER OF PERSONS KILLED              23
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4953
CONTRIBUTING FACTOR VEHICLE 2     226553
CONTRIBUTING FACTOR VEHICLE 3    1314069
CONTRIBUTING FACTOR VEHICLE 4    1380253
CONTRIBUTING FACTOR VEHICLE 5    1394727
VEHICLE TYPE CODE 1                 9701
VEHICLE TYPE CODE 2               275377
VEHICLE TYPE CODE 3              1316984
VEHICLE TYPE CODE 4              1380836
VEHICLE TYPE CODE 5              1394870
dtype: int64

In [15]:
# Dropping rows with null values in columns 'NUMBER OF PERSONS INJURED' and 'NUMBER OF PERSONS KILLED'
df = df.dropna(subset=['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED'])

### CHeck missung values

In [16]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4948
CONTRIBUTING FACTOR VEHICLE 2     226532
CONTRIBUTING FACTOR VEHICLE 3    1314043
CONTRIBUTING FACTOR VEHICLE 4    1380227
CONTRIBUTING FACTOR VEHICLE 5    1394701
VEHICLE TYPE CODE 1                 9697
VEHICLE TYPE CODE 2               275355
VEHICLE TYPE CODE 3              1316958
VEHICLE TYPE CODE 4              1380810
VEHICLE TYPE CODE 5              1394844
dtype: int64

### CONTRIBUTING FACTOR VEHICLE 1
## Replace it with "Unspecified"

In [17]:
# Create a mask to check if all contributing factors are null
mask = df[['CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].isnull().all(axis=1)

# Count the number of null values in CONTRIBUTING FACTOR VEHICLE 1 when the mask is True
null_count = df['CONTRIBUTING FACTOR VEHICLE 1'][mask].isnull().sum()

print("Null values in CONTRIBUTING FACTOR VEHICLE 1 when all other factors are null:", null_count)

Null values in CONTRIBUTING FACTOR VEHICLE 1 when all other factors are null: 4948

In [18]:
# Create a mask to check if all contributing factors for VEHICLE 1 to 5 are null
mask = df[['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].isnull().all(axis=1)

# Replace values in CONTRIBUTING FACTOR VEHICLE 1 to 5 with "Unspecified" where the mask is True
df.loc[mask, 'CONTRIBUTING FACTOR VEHICLE 1':'CONTRIBUTING FACTOR VEHICLE 5'] = 'Unspecified'

### CHeck missung values

In [19]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2     221584
CONTRIBUTING FACTOR VEHICLE 3    1309095
CONTRIBUTING FACTOR VEHICLE 4    1375279
CONTRIBUTING FACTOR VEHICLE 5    1389753
VEHICLE TYPE CODE 1                 9697
VEHICLE TYPE CODE 2               275355
VEHICLE TYPE CODE 3              1316958
VEHICLE TYPE CODE 4              1380810
VEHICLE TYPE CODE 5              1394844
dtype: int64

------

### CONTRIBUTING FACTOR VEHICLE 2
### Replace it with "Unspecified"

In [20]:
# Create a mask to check if all "CONTRIBUTING FACTOR VEHICLE 3-5" are null
mask = df[['CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].isnull().all(axis=1)

# Check if there are any non-null values in "CONTRIBUTING FACTOR VEHICLE 2" when "CONTRIBUTING FACTOR VEHICLE 3-5" are null
non_null_count = df['CONTRIBUTING FACTOR VEHICLE 2'][mask].count()

# Count the number of cases when "CONTRIBUTING FACTOR VEHICLE 2-5" are null
count_contributing_factors_2_to_5_null = mask.sum()

if non_null_count > 0:
    print("Non-null values in CONTRIBUTING FACTOR VEHICLE 2 when CONTRIBUTING FACTOR VEHICLE 3-5 are null.")
else:
    print("All values in CONTRIBUTING FACTOR VEHICLE 2 are null when CONTRIBUTING FACTOR VEHICLE 3-5 are null.")

print(f"Number of cases when CONTRIBUTING FACTOR VEHICLE 3-5 are null: {count_contributing_factors_2_to_5_null}")

All values in CONTRIBUTING FACTOR VEHICLE 2 are null when CONTRIBUTING FACTOR VEHICLE 3-5 are null.
Number of cases when CONTRIBUTING FACTOR VEHICLE 3-5 are null: 221584

In [21]:
# Create a mask for checking if all "CONTRIBUTING FACTOR VEHICLE 2-5" are null
mask = df[['CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].isnull().all(axis=1)

# Replace null values in "CONTRIBUTING FACTOR VEHICLE 2-5" with "Unspecified" where the mask is True
df.loc[mask, ['CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']] = 'Unspecified'

In [22]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2          0
CONTRIBUTING FACTOR VEHICLE 3    1087511
CONTRIBUTING FACTOR VEHICLE 4    1153695
CONTRIBUTING FACTOR VEHICLE 5    1168169
VEHICLE TYPE CODE 1                 9697
VEHICLE TYPE CODE 2               275355
VEHICLE TYPE CODE 3              1316958
VEHICLE TYPE CODE 4              1380810
VEHICLE TYPE CODE 5              1394844
dtype: int64

------

### CONTRIBUTING FACTOR VEHICLE 3
### Replace it with "Unspecified"

In [23]:
# Create a mask to check if all "CONTRIBUTING FACTOR VEHICLE 3-5" are null
mask = df[['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].isnull().all(axis=1)

# Check if there are any non-null values in "CONTRIBUTING FACTOR VEHICLE 3" when "CONTRIBUTING FACTOR VEHICLE 4-5" are null
if df['CONTRIBUTING FACTOR VEHICLE 3'][mask].count() > 0:
    print("Non-null values in CONTRIBUTING FACTOR VEHICLE 3 when CONTRIBUTING FACTOR VEHICLE 4-5 are null.")
else:
    print("All values in CONTRIBUTING FACTOR VEHICLE 3 are null when CONTRIBUTING FACTOR VEHICLE 4-5 are null.")

print(f"Number of cases when CONTRIBUTING FACTOR VEHICLE 4-5 are null: {mask.sum()}")

All values in CONTRIBUTING FACTOR VEHICLE 3 are null when CONTRIBUTING FACTOR VEHICLE 4-5 are null.
Number of cases when CONTRIBUTING FACTOR VEHICLE 4-5 are null: 1087511

In [24]:
# Create a mask to check if all "CONTRIBUTING FACTOR VEHICLE 3-5" are null
mask = df[['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']].isnull().all(axis=1)

# Replace null values in "CONTRIBUTING FACTOR VEHICLE 3-5" with "Unspecified" where the mask is True
df.loc[mask, ['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']] = 'Unspecified'

In [25]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2          0
CONTRIBUTING FACTOR VEHICLE 3          0
CONTRIBUTING FACTOR VEHICLE 4      66184
CONTRIBUTING FACTOR VEHICLE 5      80658
VEHICLE TYPE CODE 1                 9697
VEHICLE TYPE CODE 2               275355
VEHICLE TYPE CODE 3              1316958
VEHICLE TYPE CODE 4              1380810
VEHICLE TYPE CODE 5              1394844
dtype: int64

----

### CONTRIBUTING FACTOR VEHICLE 4
### Replace it with "Unspecified"

In [26]:
# Create a mask to check if both "CONTRIBUTING FACTOR VEHICLE 4" and "CONTRIBUTING FACTOR VEHICLE 5" are null
mask = df['CONTRIBUTING FACTOR VEHICLE 4'].isnull() & df['CONTRIBUTING FACTOR VEHICLE 5'].isnull()

# Count the number of non-null values in "CONTRIBUTING FACTOR VEHICLE 4" when the mask is True
non_null_count = df['CONTRIBUTING FACTOR VEHICLE 4'][mask].count()

# Count the number of cases when "CONTRIBUTING FACTOR VEHICLE 4-5" are null
count_contributing_factors_4_to_5_null = mask.sum()

if non_null_count > 0:
    print("Non-null values in CONTRIBUTING FACTOR VEHICLE 4 when CONTRIBUTING FACTOR VEHICLE 5 is null.")
else:
    print("All values in CONTRIBUTING FACTOR VEHICLE 4 are null when CONTRIBUTING FACTOR VEHICLE 5 is null.")

print(f"Number of cases when CONTRIBUTING FACTOR VEHICLE 4-5 are null: {count_contributing_factors_4_to_5_null}")

All values in CONTRIBUTING FACTOR VEHICLE 4 are null when CONTRIBUTING FACTOR VEHICLE 5 is null.
Number of cases when CONTRIBUTING FACTOR VEHICLE 4-5 are null: 66184

In [27]:
# Create a mask to check if both "CONTRIBUTING FACTOR VEHICLE 4" and "CONTRIBUTING FACTOR VEHICLE 5" are null
mask = df['CONTRIBUTING FACTOR VEHICLE 4'].isnull() & df['CONTRIBUTING FACTOR VEHICLE 5'].isnull()

# Replace null values in "CONTRIBUTING FACTOR VEHICLE 4-5" with 'Unspecified' where the mask is True
df.loc[mask, ['CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5']] = 'Unspecified'

In [28]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2          0
CONTRIBUTING FACTOR VEHICLE 3          0
CONTRIBUTING FACTOR VEHICLE 4          0
CONTRIBUTING FACTOR VEHICLE 5      14474
VEHICLE TYPE CODE 1                 9697
VEHICLE TYPE CODE 2               275355
VEHICLE TYPE CODE 3              1316958
VEHICLE TYPE CODE 4              1380810
VEHICLE TYPE CODE 5              1394844
dtype: int64

--------

### CONTRIBUTING FACTOR VEHICLE 5
### Replace it with "Unspecified"

In [29]:
# Create a mask to check if "CONTRIBUTING FACTOR VEHICLE 5" is null
mask_vehicle_5_null = df['CONTRIBUTING FACTOR VEHICLE 5'].isnull()

# Count the number of null values in "CONTRIBUTING FACTOR VEHICLE 5" when any of "CONTRIBUTING FACTOR VEHICLE 1-4" or "CONTRIBUTING FACTOR VEHICLE 5" is not null
count_null_values = mask_vehicle_5_null.sum()

print(f"Number of null values in CONTRIBUTING FACTOR VEHICLE 5 when any of CONTRIBUTING FACTOR VEHICLE 1-4 or 5 is not null: {count_null_values}")

Number of null values in CONTRIBUTING FACTOR VEHICLE 5 when any of CONTRIBUTING FACTOR VEHICLE 1-4 or 5 is not null: 14474

In [30]:
# Replace all null values in "CONTRIBUTING FACTOR VEHICLE 5" with 'Unspecified'
df['CONTRIBUTING FACTOR VEHICLE 5'].fillna('Unspecified', inplace=True)

In [31]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2          0
CONTRIBUTING FACTOR VEHICLE 3          0
CONTRIBUTING FACTOR VEHICLE 4          0
CONTRIBUTING FACTOR VEHICLE 5          0
VEHICLE TYPE CODE 1                 9697
VEHICLE TYPE CODE 2               275355
VEHICLE TYPE CODE 3              1316958
VEHICLE TYPE CODE 4              1380810
VEHICLE TYPE CODE 5              1394844
dtype: int64

------

### VEHICLE TYPE CODE 1
### Replace it with "Unspecified"

In [32]:
# Create a mask to check if "VEHICLE TYPE CODE 1" is null and "VEHICLE TYPE CODE 2-5" are also null
mask = df['VEHICLE TYPE CODE 1'].isnull() & \
       df['VEHICLE TYPE CODE 2'].isnull() & \
       df['VEHICLE TYPE CODE 3'].isnull() & \
       df['VEHICLE TYPE CODE 4'].isnull() & \
       df['VEHICLE TYPE CODE 5'].isnull()

# Count the number of rows where "VEHICLE TYPE CODE 1" is null and "VEHICLE TYPE CODE 2-5" are also null
count = mask.sum()

print(f"Number of rows where VEHICLE TYPE CODE 1 is null and VEHICLE TYPE CODE 2-5 are also null: {count}")

Number of rows where VEHICLE TYPE CODE 1 is null and VEHICLE TYPE CODE 2-5 are also null: 9692

In [33]:
# Create a mask to check if "VEHICLE TYPE CODE 1" is null and "VEHICLE TYPE CODE 2-5" are also null
mask = df['VEHICLE TYPE CODE 1'].isnull() & \
       df['VEHICLE TYPE CODE 2'].isnull() & \
       df['VEHICLE TYPE CODE 3'].isnull() & \
       df['VEHICLE TYPE CODE 4'].isnull() & \
       df['VEHICLE TYPE CODE 5'].isnull()

# Replace null values in "VEHICLE TYPE CODE 1-5" with 'Unspecified' when the mask is True
df.loc[mask, ['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']] = 'Unspecified'

In [34]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2          0
CONTRIBUTING FACTOR VEHICLE 3          0
CONTRIBUTING FACTOR VEHICLE 4          0
CONTRIBUTING FACTOR VEHICLE 5          0
VEHICLE TYPE CODE 1                    5
VEHICLE TYPE CODE 2               265663
VEHICLE TYPE CODE 3              1307266
VEHICLE TYPE CODE 4              1371118
VEHICLE TYPE CODE 5              1385152
dtype: int64

---

### VEHICLE TYPE CODE 2
### Replace it with "Unspecified"

In [35]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2          0
CONTRIBUTING FACTOR VEHICLE 3          0
CONTRIBUTING FACTOR VEHICLE 4          0
CONTRIBUTING FACTOR VEHICLE 5          0
VEHICLE TYPE CODE 1                    5
VEHICLE TYPE CODE 2               265663
VEHICLE TYPE CODE 3              1307266
VEHICLE TYPE CODE 4              1371118
VEHICLE TYPE CODE 5              1385152
dtype: int64

In [36]:
# Remove rows with null values in the "VEHICLE TYPE CODE 1" column
df = df.dropna(subset=['VEHICLE TYPE CODE 1'])

In [37]:
# Create a mask to check if "VEHICLE TYPE CODE 2" is null and "VEHICLE TYPE CODE 3-5" are also null
mask = df['VEHICLE TYPE CODE 2'].isnull() & \
       df['VEHICLE TYPE CODE 3'].isnull() & \
       df['VEHICLE TYPE CODE 4'].isnull() & \
       df['VEHICLE TYPE CODE 5'].isnull()

# Count the number of rows where "VEHICLE TYPE CODE 2" is null and "VEHICLE TYPE CODE 3-5" are also null
count = mask.sum()

print(f"Number of rows where VEHICLE TYPE CODE 2 is null and VEHICLE TYPE CODE 3-5 are also null: {count}")

Number of rows where VEHICLE TYPE CODE 2 is null and VEHICLE TYPE CODE 3-5 are also null: 265663

In [38]:
# Create a mask to check if "VEHICLE TYPE CODE 2" is null and "VEHICLE TYPE CODE 3-5" are also null
mask = df['VEHICLE TYPE CODE 2'].isnull() & \
       df['VEHICLE TYPE CODE 3'].isnull() & \
       df['VEHICLE TYPE CODE 4'].isnull() & \
       df['VEHICLE TYPE CODE 5'].isnull()

# Replace null values in "VEHICLE TYPE CODE 2-5" with 0 when the mask is True
df.loc[mask, ['VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']] = 'Unspecified'

In [39]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2          0
CONTRIBUTING FACTOR VEHICLE 3          0
CONTRIBUTING FACTOR VEHICLE 4          0
CONTRIBUTING FACTOR VEHICLE 5          0
VEHICLE TYPE CODE 1                    0
VEHICLE TYPE CODE 2                    0
VEHICLE TYPE CODE 3              1041598
VEHICLE TYPE CODE 4              1105450
VEHICLE TYPE CODE 5              1119484
dtype: int64

-----

### VEHICLE TYPE CODE 3
### Replace it with "Unspecified"

In [40]:
# Create a mask to check if "VEHICLE TYPE CODE 3" is null and "VEHICLE TYPE CODE 4-5" are also null
mask = df['VEHICLE TYPE CODE 3'].isnull() & \
       df['VEHICLE TYPE CODE 4'].isnull() & \
       df['VEHICLE TYPE CODE 5'].isnull()

# Count the number of rows where "VEHICLE TYPE CODE 3" is null and "VEHICLE TYPE CODE 4-5" are also null
count = mask.sum()

print(f"Number of rows where VEHICLE TYPE CODE 3 is null and VEHICLE TYPE CODE 4-5 are also null: {count}")

Number of rows where VEHICLE TYPE CODE 3 is null and VEHICLE TYPE CODE 4-5 are also null: 1041598

In [41]:
# Create a mask to check if "VEHICLE TYPE CODE 3" is null and "VEHICLE TYPE CODE 4-5" are also null
mask = df['VEHICLE TYPE CODE 3'].isnull() & \
       df['VEHICLE TYPE CODE 4'].isnull() & \
       df['VEHICLE TYPE CODE 5'].isnull()

# Replace null values in "VEHICLE TYPE CODE 2-5" with 0 when the mask is True
df.loc[mask, ['VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']] = 'Unspecified'

In [42]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                           0
CRASH TIME                           0
BOROUGH                              0
ZIP CODE                             0
NUMBER OF PERSONS INJURED            0
NUMBER OF PERSONS KILLED             0
NUMBER OF PEDESTRIANS INJURED        0
NUMBER OF PEDESTRIANS KILLED         0
NUMBER OF CYCLIST INJURED            0
NUMBER OF CYCLIST KILLED             0
NUMBER OF MOTORIST INJURED           0
NUMBER OF MOTORIST KILLED            0
CONTRIBUTING FACTOR VEHICLE 1        0
CONTRIBUTING FACTOR VEHICLE 2        0
CONTRIBUTING FACTOR VEHICLE 3        0
CONTRIBUTING FACTOR VEHICLE 4        0
CONTRIBUTING FACTOR VEHICLE 5        0
VEHICLE TYPE CODE 1                  0
VEHICLE TYPE CODE 2                  0
VEHICLE TYPE CODE 3                  0
VEHICLE TYPE CODE 4              63852
VEHICLE TYPE CODE 5              77886
dtype: int64

------

### VEHICLE TYPE CODE 4
### Replace it with "Unspecified"

In [43]:
# Create a mask to check if "VEHICLE TYPE CODE 4" is null and "VEHICLE TYPE CODE 5" is also null
mask = df['VEHICLE TYPE CODE 4'].isnull() & df['VEHICLE TYPE CODE 5'].isnull()

# Count the number of rows where "VEHICLE TYPE CODE 4" is null and "VEHICLE TYPE CODE 5" is also null
count = mask.sum()

print(f"Number of rows where VEHICLE TYPE CODE 4 is null and VEHICLE TYPE CODE 5 is also null: {count}")

Number of rows where VEHICLE TYPE CODE 4 is null and VEHICLE TYPE CODE 5 is also null: 63852

In [44]:
# Create a mask to check if "VEHICLE TYPE CODE 4" and "VEHICLE TYPE CODE 5" are null
mask = df['VEHICLE TYPE CODE 4'].isnull() & df['VEHICLE TYPE CODE 5'].isnull()

# Replace null values in "VEHICLE TYPE CODE 2-5" with 0 when the mask is True
df.loc[mask, ['VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']] = 'Unspecified'

In [45]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                           0
CRASH TIME                           0
BOROUGH                              0
ZIP CODE                             0
NUMBER OF PERSONS INJURED            0
NUMBER OF PERSONS KILLED             0
NUMBER OF PEDESTRIANS INJURED        0
NUMBER OF PEDESTRIANS KILLED         0
NUMBER OF CYCLIST INJURED            0
NUMBER OF CYCLIST KILLED             0
NUMBER OF MOTORIST INJURED           0
NUMBER OF MOTORIST KILLED            0
CONTRIBUTING FACTOR VEHICLE 1        0
CONTRIBUTING FACTOR VEHICLE 2        0
CONTRIBUTING FACTOR VEHICLE 3        0
CONTRIBUTING FACTOR VEHICLE 4        0
CONTRIBUTING FACTOR VEHICLE 5        0
VEHICLE TYPE CODE 1                  0
VEHICLE TYPE CODE 2                  0
VEHICLE TYPE CODE 3                  0
VEHICLE TYPE CODE 4                  0
VEHICLE TYPE CODE 5              14034
dtype: int64

----

### VEHICLE TYPE CODE 5
### Replace it with "Unspecified"

In [46]:
# Create a mask to check if at least one of "VEHICLE TYPE CODE 1-4" is not null
mask_vehicle_type_not_null = ~df[['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4']].isnull().any(axis=1)

# Create a mask to check if "VEHICLE TYPE CODE 5" is null
mask_vehicle_type_5_null = df['VEHICLE TYPE CODE 5'].isnull()

# Combine the masks using the AND operator (&)
combined_mask = mask_vehicle_type_5_null & mask_vehicle_type_not_null

# Count the number of cases that meet the condition
count_cases = combined_mask.sum()

print(f"Number of times VEHICLE TYPE CODE 5 is null and at least one of VEHICLE TYPE CODE 1-4 is not null: {count_cases}")

Number of times VEHICLE TYPE CODE 5 is null and at least one of VEHICLE TYPE CODE 1-4 is not null: 14034

In [47]:
df['VEHICLE TYPE CODE 5'].fillna('Unspecified', inplace=True)

In [48]:
missing_values = df.isnull().sum()
print(missing_values)

CRASH DATE                       0
CRASH TIME                       0
BOROUGH                          0
ZIP CODE                         0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
CONTRIBUTING FACTOR VEHICLE 3    0
CONTRIBUTING FACTOR VEHICLE 4    0
CONTRIBUTING FACTOR VEHICLE 5    0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
VEHICLE TYPE CODE 3              0
VEHICLE TYPE CODE 4              0
VEHICLE TYPE CODE 5              0
dtype: int64

## DataFrame Summary after Data Cleaning

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1400451 entries, 0 to 1400481
Data columns (total 22 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   CRASH DATE                     1400451 non-null  datetime64[ns]
 1   CRASH TIME                     1400451 non-null  object
 2   BOROUGH                        1400451 non-null  object
 3   ZIP CODE                       1400451 non-null  object
 4   NUMBER OF PERSONS INJURED      1400451 non-null  float64
 5   NUMBER OF PERSONS KILLED       1400451 non-null  float64
 6   NUMBER OF PEDESTRIANS INJURED  1400451 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   1400451 non-null  int64
 8   NUMBER OF CYCLIST INJURED      1400451 non-null  int64
 9   NUMBER OF CYCLIST KILLED       1400451 non-null  int64
 10  NUMBER OF MOTORIST INJURED     1400451 non-null  int64
 11  NUMBER OF MOTORIST KILLED      1400451 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  1400451 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  1400451 non-null  object
 14  CONTRIBUTING FACTOR VEHICLE 3  1400451 non-null  object
 15  CONTRIBUTING FACTOR VEHICLE 4  1400451 non-null  object
 16  CONTRIBUTING FACTOR VEHICLE 5  1400451 non-null  object
 17  VEHICLE TYPE CODE 1            1400451 non-null  object
 18  VEHICLE TYPE CODE 2            1400451 non-null  object
 19  VEHICLE TYPE CODE 3            1400451 non-null  object
 20  VEHICLE TYPE CODE 4            1400451 non-null  object
 21  VEHICLE TYPE CODE 5            1400451 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(6), object(13)
memory usage: 245.7+ MB

In [50]:
df.to_csv('Motor_Vehicle_Collisions_-_Crashes_cleaned.csv', index=False)  # Export without the DataFrame index